[submodule "case-studies/scroll-with-throttle"]
	path = case-studies/scroll-with-throttle
	url = git@github.com:be-codified/case-study-scroll-with-throttle.git
[submodule "case-studies/socket-io-chat"]
	path = case-studies/socket-io-chat
	url = git@github.com:be-codified/case-study-socket-io-chat.git
[submodule "case-studies/scrape-cats"]
	path = case-studies/scrape-cats
	url = git@github.com:be-codified/case-study-scrape-cats.git
[submodule "case-studies/work-bot"]
	path = case-studies/work-bot
	url = git@github.com:be-codified/case-study-work-bot.git
